
/*****************nav***************************/
.navbar-nav>li.selected>a {
    color: #fff;
    font-weight: bold;
}
.navbar-nav>li li.selected>a {
    font-weight: bold;
}
.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
}
.breadcrumb li {
    margin: 0 5px;
}
.panel-default>.panel-heading {
    border: none;
    background-color: transparent;
}
.panel-default {
    border: none;
    box-shadow: none;
}
.dropdown-menu {
    width: 100%;
}
.manage-nav {
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 0;
    border: none;
}
.navbar-inverse .navbar-brand {
    color: #fff;
    background-color: #BD2D30;
}
.manage-location {
    margin: 50px 0 0 0;
    border-bottom: none;
}
.manage-location .panel-heading {
    padding: 5px 15px;
}

/*****************search***************************/
.search-form {
    float: left;
    width: 100%;
    padding: 10px 0;
    border-bottom: solid 1px #eee;
}

.search-form .input-group {
    float: left;
    width: 15%;
    min-width: 246px;
    margin: 0 8px 5px 0;
}

.search-form .input-group input {
    border-radius: 4px;
}
.search-form .btn-group {
    display: table-cell;
    vertical-align: top;
}

.search-form .btn-primary {
    margin-bottom: 5px;
}

.search-form .btn.dropdown-toggle,
.modify .btn.dropdown-toggle {
    width: 100%;
    text-align: right;
}

.search-form .btn-group .btn.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group .btn .dropdown-text {
    float: left;
    max-width: 165px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*****************bottom***************************/
.manage-bottom {
    margin: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.manage-bottom .panel-footer {
    padding: 5px;
    background-color: #222222;
    border-color: #222222;
    border-radius: 0;
}
.manage-bottom .panel-footer p {
    margin: 0;
    text-align: center;
    color: #777;
}


.time-split {
    margin-left: -10px;
}


/*****************modal***************************/
.modal-title {
    font-weight:bold;
}
.modify-table {
    border:1px solid #ddd;
    border-radius:5px;
    border-collapse: collapse;
}
.modify-table tr td {
    border:1px solid #ddd;
    padding:10px 0 10px 10px;
}
.modify-table tr th {
    width:150px;
    border:1px solid #ddd;
    text-align:right;
    padding:5px 10px 5px 0;
    background:#f5f5f5;
}
.modify input,
.modify textarea,
.modify .btn-group {
    width: 80%;
}
.modify .form-group {
    margin-bottom: 0;
}
.modify .help-block {
    margin: 0;
    font-size: 12px;
}

.modal-dialog {
    margin: 10px auto 0;
}
.modal-dialog.large {
    width: 86%;
}

#select-frame {
    width: 100%;
    height: 720px;
    border: none;
}


/*****************upload***************************/
.color-picker {
    float: right;
    margin-right: 20px;
    width: 40px;
    height: 35px;
    border: solid 1px #DFDFDF;
    cursor: pointer;
}

.browse-file {
    background: url('../image/quick-icon.jpg') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 86px;
    width: 86px;
}
.uploadfile {
    height: 0;
}
.browse-file .uploadfilebtn {
    width: 86px;
    height: 86px;
}
.modify-icon {
    position:relative;
    width:108px;
}
.modify-icon img {
    display:block;
    margin:0;
    padding:0;
    width:106px;
    height:auto;
    background-color: #ccc;
}
.modify-icon.file {
    width: auto;
}
.modify-icon.file span {
    display: block;
    width: 323px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.modify-icon.file .del-img {
    top: 0;
    right: 25px;
}
.del-img {
    position:absolute;
    display:block;
    top:8px;
    right:10px;
    height:16px;
    width:16px;
}
/*
.panel-body {
    min-width: 1000px;
}*/

/*****************datatable***************************/
.dataTables_wrapper .row:first-child {
    float: left;
    margin-top: 5px;
}

.dataTables_wrapper .btn-group .btn {
    padding: 3px 12px;
}

.table-wrap .col-sm-12 {
    overflow-x: auto;
    clear: both;
}

thead > tr > th {
    text-align: center;
}

.table .btn-wrap {
    text-align: center;
}

.column-filed {
    max-width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.column-filed.align-left {
    text-align: left;
}
.column-filed.align-right {
    text-align: right;
}
.column-filed.align-center {
    text-align: center;
}
.column-filed img {
    width: 60px;
    height: 60px;
    background-color: #ccc;
}

.pagination>input, .pagination>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}


/*****************button***************************/
#search-btns {
    float: right;
    padding: 13px 0 0 0;
}

#search-btns .btn {
    margin-bottom: 5px;
}

.dataTables_length {
    display: inline-block;
    margin-top: 10px;
}

.valid-required {
    display: inline-block;
    padding: 1px 5px;
    color: #a94442;
}

.select-wrap {
    text-align: center;
}

/*************checkbox***************/
.checkbox-wrap {
    margin-right: 8px;
    padding: 5px;
    border: dashed 1px #ddd;
}
.checkbox-wrap>div {
    display: inline-block;
    width: 50%;
}
.checkbox-wrap>.sel-all {
    width: 100%;
    margin-bottom: 8px;
    text-align: center;
    border-bottom: dashed 1px #ddd;
}
.checkbox-wrap>.sel-all input,
.checkbox-wrap>.sel-all label {
    width: auto;
}
.checkbox-wrap input {
    width: 10%;
}
.checkbox-wrap label {
    width: 80%;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

/**************table********************/
.table-bordered {
    border-color: #aaa;
}

.table-bordered>thead>tr {
    background: #3f3f3f;
    color: #fff;
    white-space: nowrap;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td, 
.table-bordered>tfoot>tr>td {
    border-color: #aaa;
    border-bottom: none;
}

.table-bordered>thead>tr>th {
    border-color: #3f3f3f;
    border-right-color: #aaa;
}

.btn-primary {
    background-color: #3f3f3f;
    border-color: #3f3f3f;
}
.btn-info {
    background-color: #428bca;
    border-color: #39556d;
}
.btn-info:hover {
    background-color: #045e79;
    border-color: #045e79;
}
.btn-primary:hover {
    background-color: #000;
    border-color: #000;
}

.input-group-addon {
    background-color: #3f3f3f;
    color: #fff;
    border: none;
}

label[for='select-all'] {
    margin: 0 2px 0 0;
}

.pagination>li>a,
.pagination>li>a:hover,
.pagination>li>span,
.pagination>li>span:hover {
    color: #900b09;
}

.pagination>input,
.pagination>span {
    color: #000;
}

a:link, a:visited {
    text-decoration: none;
    color: #900b09;
    background: transparent;
}

input[type=checkbox] {
    vertical-align: top;
    cursor: pointer;
}


.editor,#editor {
    width: 1200px;
}

.editor-info{
    width: 100%;
    max-height: 300px;
}